@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.top-bg {
  background-image: url("../assets/images/bg-pattern-card.svg");
  background-size: cover;
}

.small-texts {
  font-size: .7rem;
}
